@media only screen and (max-width : 479px) {
    h1{
        font-size: 1.7em;
        font-weight: 300;
    }
    .more {
        width: 30%;
        margin: 0 35%;
    }
    .cta-btn:link,
    .cta-btn:visited{
        font-size: 1.1em;
        padding: 2% 4%; 
    }
    .big-headline{margin: 50% auto;}
    .about .span-3-of-5 {
        width: 100% !important;
        font-size: .8em !important;
    }
    .plans {padding-bottom: 0;}
    .plans-img {
        padding: 50px 0 10px 30px;
        height: 180px;
    }
    .plans-body {
        font-size: 1em;
        padding: 10px 0;
    }
    .sponsors {display: none;}
    .contact {padding-top: 0;}
    .contact h3 {
        font-size: 1.3em;
        margin: 30px 0 20px 0;
    }
    .contact_info {font-size: .7em;}
    .contact label {display: none;}
    input[type="email"], textarea {margin-top: 20px;}
    input[type="submit"] {
        width: 100%;
        margin: 10px 0 20px 0;
    }
    .contact .col:first-child {padding: 0;}
    #googleMap {width: 100% !important;}
    footer p{font-size: .65em !important;}

}

/* Smartphones */
@media only screen and (max-width : 480px) {
    h1{
        font-size: 2em;
        font-weight: 300;
    }
    .logo img{
        margin: 10px 20px;;
        width: 40%;
    }
    .big-headline{
        margin: 30% auto;
        width: 100%;
    }
    .about .span-3-of-5 {
        width: 90%;
        margin: 10px;
        transform: translateX(0%);
    }
    .sponsors {display: none;}
    .contact h3 {
        font-size: 1.3em;
        margin: 30px 0 20px 0;
    }
    .contact label {display: none;}
    input[type="text"]{ margin:0;}
    input[type="email"], textarea {margin-top: 20px;}
    input[type="submit"] {
        width: 100%;
        margin: 10px 0 20px 0;
    }
    footer p{font-size: .7em;}
}

/* Responsive Navigation */
@media only screen and (max-width : 768px){
    .logo img {
        width: 30%;
        padding: 15px 5px;
    }
    nav .row{
        background: #048b44;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }
    .main-nav{
        display: none;
        padding-bottom: 10px;
        opacity: 1;
        height: 32%;
        width: 40%;
        padding: 10px;
    }
    .main-nav li{
        width: 100%;
        display: block;
        float: none;
    }
    .mobile-nav-icon{
        display: inline-block;
        position: fixed;
        top: 25px;
        right: 25px;
    }
    .main-nav a:link,
    .main-nav a:visited{
        padding: 15px 0;
        display: block;
        border: 0;
        font-weight: 300;
    }
    .sticky .main-nav {height: 35%;}
    .sticky .mobile-nav-icon{
        text-align: center;
        padding: 5px 15px;
        border-radius: 6px;
        color: #fff;
        background-color: #048b44;
    }
    .sticky-logo {display: none;}
    
    .subs-popup h3 {font-size: .8em;}
    .subs-popup .col:first-child{display: none;}
    .subs-popup .col:last-child{width: 100%;}
    #subs-form form {margin: 10px auto;} 
}

/* 900 px */
@media only screen and (max-width : 900px){
    .about .span-2-of-5 {display: none;}
    .about .span-3-of-5 {
        font-size: .95em;
        margin: 0 50%;
        transform: translateX(-50%);
    }
    .about {
        background: url('../img/logo/treckrock_blur.png') no-repeat;
        background-position: center;
        background-size: contain;
        background-attachment: fixed;
    }
    .plans .col, .contact .col {
        margin: 0 auto;
        float: none;
        width: 90%;
    }
    #googleMap{width: 80%;}
    .contact .col {width: 80%;}
    footer .span-1-of-5 {display: none;}
    footer .col {
        width: 80%;
    }
}

/* iPads */
@media only screen and (max-width : 1090px) {
    .about .span-2-of-5 {width: 40%;}
    .big-logo {padding: 0;margin: 0;}
    .about img{margin-top: 60px;}
    .about .span-3-of-5 {width: 58%;font-size: .85em;}
    .plans ul {width: 96%;}
    .contact .col:nth-child(2) {padding: 0 5% 0 0;}
    .subs-popup h3 {font-size: .9em;}
    .subs-popup h3>span{font-weight: 400;}
    .subs-popup img{width: 50%;}
    #subs-form {width: 80%;}

}

/* Desktops and laptops */
@media only screen and (max-width : 1255px) {
    h2{font-size: 1.8em;}
    .about ul{margin-left: 0;}
    footer .offset {display: none;}
    footer .span-1-of-5 {width: 25%;}
}

/* Large screens */
@media only screen and (min-width : 1350px) {
    .contact form {padding: 0 0 0 10%;}
    #googleMap{width: 100%;}
    
}
    
