/*****************************************
------------------------------------------
            Color Theme:

    Primary Color   :   #009d4b
    Dark Color      :   #0f0d0d
    Light Color     :   #ecf0f1
    
------------------------------------------
*****************************************/


/*****************************************
            Global Styles 
*****************************************/
*{
    box-sizing: border-box;
}

::selection {
    color: #ecf0f1; 
    background: #009d4b;
}

html, body{
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 1px;
    position: relative; /* for subscription form */
}
h1,h2,h3,h4{
    font-weight: 300;
}
section{
    margin: 0;
    padding: 30px 0;
}
h2{
    font-size: 2.3em;
    font-weight: 300;
    line-height: 120%;
    position: relative;
    color: #0f0d0d;    
    text-align: center;
    margin: 60px 0;
}
h2 > span{
    color: #009d4b;
}



/*****************************************
            Subscription From 
*****************************************/
.subs-popup {
	display: none;
	background-color: rgba(0, 157, 75, 0.6);
	position: fixed;
	height: 100%;
	width: 100%;
    z-index: 1000;
}
.subs-popup h3 {
    font-size: 1em;
}
.subs-popup h3>span{
    color: #009d4b;
    font-weight: 700;
    font-size: 1.2em;
}

.subs-popup img{
    width: 80%;
    height: auto;
    border-radius: 600px;
}
#subs-form {
	background-color: #ecf0f1;
    width: 45%;
	margin: 100px auto;
	box-shadow: 0px 0px 30px 5px rgba(2, 108, 52, 0.5);
    border-radius: 10px;
    padding: 30px;
    clear:left;
    position: relative;
}
#subs-form .col {
    margin: 0;
    padding: 0;
}
#subs-form form {
    width: 100%;
    margin: 50px 0 10px 0;
}
#subs-form p {
    color: #009d4b;
    position: absolute;
    bottom: 0;
    right: 20px;
    font-size: .7em;
}
.email-close {
    font-size: 1.2em;
    color: #009d4b;
	position: absolute;
	top: 18px;
	right: 18px;
	cursor: pointer;
	z-index: 1200;
}

/*****************************************
                Header 
*****************************************/
header{
    position: relative;
    background-image: url('../img/trekking2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.logo {display: block;}
.logo img{
    display: inline-block;
    margin: 15px 0 0 20px;
	width: 10%;
	height: auto;
}
.main-nav{opacity: 0;}
.main-nav{
    position: relative;
	list-style: none;
    width: 100%;
    height: 50px;
    text-align: right;
    padding-right: 25px;
    margin: 0;
}
.main-nav li{
    width: 120px;
    height: 100%;
    display: inline-block;
    text-align: center;   
}
.more {
    position: absolute;
    bottom: 0;
    width: 10%;
    margin: 0 45%;
    text-align: center;
}
.more a:link, .more a:visited{
    color: rgba(255, 255, 255, 0.51); 
    text-decoration: none;
}
.more a:hover, .more a:active{
    color: #009d4b;
}
.more p {
    margin: 0px;
    font-size: 14px; 
}
.more i {font-size: 2em;}


.main-nav li a:link,
.main-nav li a:visited {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding-top: 16px;
    font-size: 1em;
    line-height: 120%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ecf0f1;
    text-decoration: none;
}
.main-nav li a:hover,
.main-nav li a:active {
    color: #009d4b;
    background-color: #ecf0f1;
}

.big-headline{
    margin: 10% auto;
    width: 100%;
    text-align: center;
}
h1{
    color: #ecf0f1;
    font-size: 3em;
    letter-spacing: 1px;
    font-weight: 400;
}
.cta-btn:link,
.cta-btn:visited{
    color: #ecf0f1;
    text-decoration: none;
    font-size: 1.3em;
    line-height: 1.5em;
    display: inline-block;
    background-color: rgb(0, 157, 75);
    border: 2px solid rgb(0, 157, 75);
    border-radius: 10px;
    padding: .8% 1.8%; 
}
.cta-btn:hover,
.cta-btn:active{
    color: #ecf0f1;
    border: 2px solid #00c960;
}


/*****************************************
            Sticky Navigation 
*****************************************/
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;padding:0;
    background-color: rgba(0, 157, 75, 0.9);
    z-index: 999;
}
.sticky .main-nav{
    height: 50px;
    opacity: 1;
}
.sticky-logo {opacity: 0}
.sticky .sticky-logo {
    opacity: 1;
    position: absolute;
    top: 5px;
    left: 10px;
    width: 80px;
    z-index: 1000;
    margin: 0;
    padding: 0;
}

/*****************************************
            Responsive Navigation 
*****************************************/
.mobile-nav-icon {
    cursor: pointer;
    display: none;
    
}
.mobile-nav-icon .ion-navicon-round,
.mobile-nav-icon .ion-close-round{
    color: #ecf0f1;
    font-size: 200%;
}


/*****************************************
            About Section 
*****************************************/
.js--fadeIn {opacity: 0;}
.about {background-color: #e6e6e6;}
.about ul{
    list-style: none;
    font-size: 1em;
    margin-left: 10%; /*respo*/
}
.about i {
    line-height: 120%;
    margin-top: -5px;
    vertical-align: middle;
    font-size: 2.5em;
    margin-right: 8px;
}
.big-logo {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 15% 15% 0 0;
}
.about img {
    width: 70%;
    
}
.big-logo h3{
    margin: 0;
    font-size: 1.5em;
    color: #009d4b;
}


/*****************************************
            Gallery Section 
*****************************************/

.gallery {
    position: relative;
    height: 400px;
}

.gallery ul{
	list-style: none;
}
.cb-slideshow li span { 
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    opacity: 0;
    z-index: 0;
	-webkit-backface-visibility: hidden;
    animation: imageAnimation 36s linear infinite 0s;
}

.cb-slideshow li:nth-child(1) span { 
    background-image: url(../img/slider/yellow1a.jpg);
    
}
.cb-slideshow li:nth-child(2) span { 
    background-image: url(../img/slider/yellow2.jpg);
    animation-delay: 6s; 
}
.cb-slideshow li:nth-child(3) span { 
    background-image: url(../img/slider/yellow3.jpg);
    animation-delay: 12s; 
}
.cb-slideshow li:nth-child(4) span { 
    background-image: url(../img/slider/yellow4.jpg);
    animation-delay: 18s; 
}
.cb-slideshow li:nth-child(5) span { 
    background-image: url(../img/slider/yellow5.jpg);
    animation-delay: 24s; 
}
.cb-slideshow li:nth-child(6) span { 
    background-image: url(../img/slider/yellow6.jpg);
    animation-delay: 30s; 
}

/* Animation for the slideshow images */
@keyframes imageAnimation { 
    0% { opacity: 0; }
    3% { opacity: 1; }
    97% { opacity: 1; }
    100% { opacity: 0; }
}

/* Show at least something when animations not supported */
.no-cssanimations .cb-slideshow li span{
	opacity: 1;
}




/*****************************************
            Plans Section 
*****************************************/

.plans {
    background-color: #ecf0f1;
    padding-bottom: 60px;
}
.plans ul {
    list-style: none;
    width: 80%;
    height: 100%;
    margin: 20px auto;
    padding-left: 0;
    
}
.plans h3 {
    font-size: 1.5em;
    font-weight: 300;
    margin: 0;
    display: inline-block;
    width: 80%;
    color: #404040;
}

.plans-img {
    position: relative;
    padding: 70px 0 10px 30px;
    font-weight: 700;
    height: 220px;
    overflow: hidden;
}
.plans-head {
    position: relative;
}
.plans i{
    margin: 0 10px;
}
.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #b7b7b7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
}
.back img {
    width: 100%;
    height: 100%;
    opacity: .3;
}

.price {
    line-height: 120%;
    font-size: 2.5em;
    font-weight: 400;
    color: #009d4b;
    margin: 10px 0;
}
.price span {
    font-size: .7em;
    font-weight: 300;
}

.plans-body {
    font-size: 1.1em;
    color: #272727;
    overflow: hidden;
    padding: 20px 0;
}
.btn {
    text-align: center;
    width: 150px;
    display: block;
    border-radius: 5px;
    font-size: 1.1em;
    padding: 15px 0 10px 0;
    margin: 0px auto;
}
.plans-btn:link, .plans-btn:visited{
    text-decoration: none;
    background: #009d4b;
    color: #e4e4e4;
}
.btn-ghost:link, .btn-ghost:visited{
    text-decoration: none;
    background: #ecf0f1;
    color: #009d4b;
    border: 1px solid #009d4b;
}
.btn-ghost:hover, .btn-ghost:active{
    background: #009d4b;
    color: #e4e4e4;
}
.plans li:not(:first-child) {
    padding-left: 10px;
    border: 1px solid #b7b7b7;
    border-top: none;
    border-bottom: none;
}
.plans li:last-child {
    background-color: #d4d4d4;
    padding: 15px 0;
    border-bottom: 1px solid #b7b7b7;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/*****************************************
            Sponsors Section 
*****************************************/

.sponsors{
    padding: 0;
    background: #009d4b;
    text-align: center;
}
.sponsors img {
    width: 60%;
}



/*****************************************
            Contact Section 
*****************************************/
.js--slideInLeft,
.js--slideInRight{visibility: hidden;}
.contact form {
    width: 100%;
    margin: 0 auto;
    color: #414141;
}
.contact h3 {
    color: #009d4b;
}

.contact .col:first-child {
    padding: 0 0 0 5% ;
}
.contact .col:nth-child(2) {
    padding: 0 10% 0 0 ;
}

.contact label {
    display: block;
    margin: 25px 0 0 0;
    color: #009d4b;
    font-weight: 700;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #009d4b;
    padding: 10px;
    resize: none;
}
input[type="submit"] {
    width: 40%;
    margin: 15px 0;
    padding: 5px 0;
    font-size: 1em;
    letter-spacing: 1px;
    line-height: 180%;
    border-radius: 5px;
    background-color: #009d4b;
    color: #ecf0f1;
    border: none;
    outline: none;
}
.contact_info {
    color: #0f0d0d;
    font-size: .85em;
}
.contact_info i {
    color: #009d4b;
    display: inline-block;
    font-size: 1.2em;
    vertical-align: middle;
    margin-right: 7px;
}

#googleMap{
    width: 100%;
    height: 250px;
}

/*****************************************
                Footer 
*****************************************/


footer {
    background-color: #cbcbcb;
    text-align: left;
}
footer .nav{
    list-style: none;
    width: 100%;
}


.nav a:link, .nav a:visited {
    position: relative;
    font-size: .75em;
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    color: #0f0d0d;
}
.footer-nav a:hover, .footer-nav a:visited {
    border-left: 5px solid #009d4b;
}
.social li {
    display: inline-block;
    font-size: 1.5em;
    padding: 10px;
}
.social li:first-child a:hover{
    color: #3b5998;
}
.social li:nth-child(2) a:hover{
    color: #00aced;
}
.social li:nth-child(3) a:hover{
    color: #517fa4;
}
.social li:last-child a:hover{
    color: #dd4b39;
}

footer p {
    color: #0f0d0d;
    letter-spacing: 1px;
    font-size: .7em;
}























